# Start command: composer update --classmap-authoritative && vendor/bin/phpstan analyze

includes:
	- phpstan-baseline.neon # Baseline to ignore error temporary
	# https://github.com/phpstan/phpstan/blob/master/conf/bleedingEdge.neon
	# - vendor/phpstan/phpstan/conf/bleedingEdge.neon
	# - phar://phpstan.phar/conf/bleedingEdge.neon
	- vendor/szepeviktor/phpstan-wordpress/extension.neon
	# - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
parameters:
	level: 9
	inferPrivatePropertyTypeFromConstructor: true
	treatPhpDocTypesAsCertain: false
	scanFiles:
	bootstrapFiles:
		- vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
	paths:
		- surefeedback.php
		- includes/
