includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon
  - phpstan-baseline.neon

parameters:
  level: 5
  paths:
    - includes/
    - surefeedback-cloud.php
  excludePaths:
    - vendor/*
    - tests/*
    - node_modules/*
  bootstrapFiles:
    - tests/php/stubs/constants.php
