parameters:
	ignoreErrors:
		-
			message: "#^Constant DB_CHARSET not found\\.$#"
			count: 1
			path: config/app.php

		-
			message: "#^Constant DB_COLLATE not found\\.$#"
			count: 1
			path: config/app.php

		-
			message: "#^Constant WP_CONTENT_URL not found\\.$#"
			count: 1
			path: config/app.php

		-
			message: "#^Call to function is_object\\(\\) with string will always evaluate to false\\.$#"
			count: 1
			path: includes/app/Application.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: includes/app/Application.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 7
			path: includes/app/Exceptions/ApiException.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 8
			path: includes/app/Exceptions/ConfigException.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 10
			path: includes/app/Exceptions/ContainerException.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 9
			path: includes/app/Exceptions/SureFeedbackException.php

		-
			message: "#^Constant SECURE_AUTH_KEY not found\\.$#"
			count: 1
			path: includes/app/Http/Controllers/Api/ConnectionController.php

		-
			message: "#^Method SureFeedback\\\\Http\\\\Controllers\\\\Api\\\\ConnectionController\\:\\:getClientIp\\(\\) is unused\\.$#"
			count: 1
			path: includes/app/Http/Controllers/Api/ConnectionController.php

		-
			message: "#^Method SureFeedback\\\\Http\\\\Controllers\\\\Api\\\\ConnectionController\\:\\:webhook\\(\\) should return WP_REST_Response but returns WP_Error\\.$#"
			count: 3
			path: includes/app/Http/Controllers/Api/ConnectionController.php

		-
			message: "#^Method SureFeedback\\\\Http\\\\Controllers\\\\Api\\\\PageSettingsController\\:\\:disableAll\\(\\) should return WP_REST_Response but returns WP_Error\\.$#"
			count: 2
			path: includes/app/Http/Controllers/Api/PageSettingsController.php

		-
			message: "#^Method SureFeedback\\\\Http\\\\Controllers\\\\Api\\\\PageSettingsController\\:\\:disablePage\\(\\) should return WP_REST_Response but returns WP_Error\\.$#"
			count: 3
			path: includes/app/Http/Controllers/Api/PageSettingsController.php

		-
			message: "#^Method SureFeedback\\\\Http\\\\Controllers\\\\Api\\\\PageSettingsController\\:\\:enableAll\\(\\) should return WP_REST_Response but returns WP_Error\\.$#"
			count: 2
			path: includes/app/Http/Controllers/Api/PageSettingsController.php

		-
			message: "#^Method SureFeedback\\\\Http\\\\Controllers\\\\Api\\\\PageSettingsController\\:\\:enablePage\\(\\) should return WP_REST_Response but returns WP_Error\\.$#"
			count: 3
			path: includes/app/Http/Controllers/Api/PageSettingsController.php

		-
			message: "#^Method SureFeedback\\\\Http\\\\Controllers\\\\Api\\\\PageSettingsController\\:\\:index\\(\\) should return WP_REST_Response but returns WP_Error\\.$#"
			count: 1
			path: includes/app/Http/Controllers/Api/PageSettingsController.php

		-
			message: "#^Method SureFeedback\\\\Http\\\\Controllers\\\\Api\\\\PageSettingsController\\:\\:update\\(\\) should return WP_REST_Response but returns WP_Error\\.$#"
			count: 3
			path: includes/app/Http/Controllers/Api/PageSettingsController.php

		-
			message: "#^Parameter \\#3 \\$status of method SureFeedback\\\\Http\\\\Controllers\\\\Controller\\:\\:error\\(\\) expects int, array\\<string, string\\> given\\.$#"
			count: 6
			path: includes/app/Http/Controllers/Api/PageSettingsController.php

		-
			message: "#^Parameter \\#3 \\$status of method SureFeedback\\\\Http\\\\Controllers\\\\Controller\\:\\:error\\(\\) expects int, array given\\.$#"
			count: 2
			path: includes/app/Http/Controllers/Api/SettingsController.php

		-
			message: "#^Call to an undefined method SureFeedback\\\\Application\\:\\:isEnvironment\\(\\)\\.$#"
			count: 1
			path: includes/app/Http/Controllers/Controller.php

		-
			message: "#^Call to an undefined method SureFeedback\\\\Application\\:\\:resolve\\(\\)\\.$#"
			count: 1
			path: includes/app/Http/Controllers/Controller.php

		-
			message: "#^Call to method error\\(\\) on an unknown class SureFeedback\\\\Contracts\\\\Logger_Interface\\.$#"
			count: 1
			path: includes/app/Http/Controllers/Controller.php

		-
			message: "#^Call to method get\\(\\) on an unknown class SureFeedback\\\\Contracts\\\\Config_Interface\\.$#"
			count: 1
			path: includes/app/Http/Controllers/Controller.php

		-
			message: "#^Call to method log\\(\\) on an unknown class SureFeedback\\\\Contracts\\\\Logger_Interface\\.$#"
			count: 2
			path: includes/app/Http/Controllers/Controller.php

		-
			message: "#^If condition is always true\\.$#"
			count: 2
			path: includes/app/Http/Controllers/Controller.php

		-
			message: "#^Parameter \\$config of method SureFeedback\\\\Http\\\\Controllers\\\\Controller\\:\\:__construct\\(\\) has invalid type SureFeedback\\\\Contracts\\\\Config_Interface\\.$#"
			count: 2
			path: includes/app/Http/Controllers/Controller.php

		-
			message: "#^Parameter \\$logger of method SureFeedback\\\\Http\\\\Controllers\\\\Controller\\:\\:__construct\\(\\) has invalid type SureFeedback\\\\Contracts\\\\Logger_Interface\\.$#"
			count: 2
			path: includes/app/Http/Controllers/Controller.php

		-
			message: "#^Property SureFeedback\\\\Http\\\\Controllers\\\\Controller\\:\\:\\$config has unknown class SureFeedback\\\\Contracts\\\\Config_Interface as its type\\.$#"
			count: 1
			path: includes/app/Http/Controllers/Controller.php

		-
			message: "#^Property SureFeedback\\\\Http\\\\Controllers\\\\Controller\\:\\:\\$logger has unknown class SureFeedback\\\\Contracts\\\\Logger_Interface as its type\\.$#"
			count: 1
			path: includes/app/Http/Controllers/Controller.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: includes/app/Http/Requests/Request.php

		-
			message: "#^Anonymous function has an unused use \\$options\\.$#"
			count: 1
			path: includes/app/Http/Router.php

		-
			message: "#^Right side of && is always true\\.$#"
			count: 2
			path: includes/app/Repositories/ConnectionRepository.php

		-
			message: "#^Expression on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: includes/app/Repositories/SettingsRepository.php

		-
			message: "#^Method SureFeedback\\\\Repositories\\\\SettingsRepository\\:\\:importSettings\\(\\) should return bool but returns array\\.$#"
			count: 1
			path: includes/app/Repositories/SettingsRepository.php

		-
			message: "#^Call to an undefined method SureFeedback\\\\Repositories\\\\SettingsRepository\\:\\:updateSettings\\(\\)\\.$#"
			count: 2
			path: includes/app/Services/AdminService.php

		-
			message: "#^Call to method validated\\(\\) on an unknown class SureFeedback\\\\Http\\\\Requests\\\\UpdateSettingsRequest\\.$#"
			count: 1
			path: includes/app/Services/AdminService.php

		-
			message: "#^Constant SUREFEEDBACK_PLUGIN_DIR not found\\.$#"
			count: 1
			path: includes/app/Services/AdminService.php

		-
			message: "#^Constant SUREFEEDBACK_PLUGIN_URL not found\\.$#"
			count: 25
			path: includes/app/Services/AdminService.php

		-
			message: "#^Instantiated class SureFeedback\\\\Http\\\\Requests\\\\UpdateSettingsRequest not found\\.$#"
			count: 1
			path: includes/app/Services/AdminService.php

		-
			message: "#^Left side of && is always true\\.$#"
			count: 2
			path: includes/app/Services/AdminService.php

		-
			message: "#^Property SureFeedback\\\\Services\\\\AdminService\\:\\:\\$current_page is never read, only written\\.$#"
			count: 1
			path: includes/app/Services/AdminService.php

		-
			message: "#^Expression on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: includes/app/Services/ApiGatewayService.php

		-
			message: "#^Function surefeedback_get_base_api_url not found\\.$#"
			count: 2
			path: includes/app/Services/FrontendService.php

		-
			message: "#^Method SureFeedback\\\\Services\\\\FrontendService\\:\\:render_widget_script\\(\\) is unused\\.$#"
			count: 1
			path: includes/app/Services/FrontendService.php

		-
			message: "#^Method SureFeedback\\\\Services\\\\FrontendService\\:\\:render_widget_script_direct\\(\\) is unused\\.$#"
			count: 1
			path: includes/app/Services/FrontendService.php

		-
			message: "#^Parameter \\#1 \\$text of function esc_html expects string, int given\\.$#"
			count: 1
			path: includes/app/Services/FrontendService.php

		-
			message: "#^Parameter \\#1 \\$text of function esc_js expects string, int given\\.$#"
			count: 4
			path: includes/app/Services/FrontendService.php

		-
			message: "#^Parameter \\#1 \\$text of function esc_js expects string, int\\|false given\\.$#"
			count: 1
			path: includes/app/Services/FrontendService.php

		-
			message: "#^Property SureFeedback\\\\Services\\\\FrontendService\\:\\:\\$page_settings_repository is never read, only written\\.$#"
			count: 1
			path: includes/app/Services/FrontendService.php

		-
			message: "#^Ternary operator condition is always false\\.$#"
			count: 2
			path: includes/app/Services/FrontendService.php

		-
			message: "#^Constant SUREFEEDBACK_PLUGIN_BASENAME not found\\.$#"
			count: 2
			path: routes/api.php

		-
			message: "#^Variable \\$router might not be defined\\.$#"
			count: 11
			path: routes/api.php

		-
			message: "#^Class SureFeedback\\\\App\\\\Http\\\\Controllers\\\\AdminController not found\\.$#"
			count: 7
			path: routes/web.php

		-
			message: "#^Class SureFeedback\\\\App\\\\Http\\\\Controllers\\\\SettingsController not found\\.$#"
			count: 5
			path: routes/web.php

		-
			message: "#^Constant SUREFEEDBACK_PLUGIN_DIR not found\\.$#"
			count: 1
			path: routes/web.php

		-
			message: "#^Constant SUREFEEDBACK_PLUGIN_URL not found\\.$#"
			count: 1
			path: routes/web.php

		-
			message: "#^Variable \\$router might not be defined\\.$#"
			count: 3
			path: routes/web.php
