<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
    bootstrap="tests/php/bootstrap.php"
    colors="true"
    stopOnFailure="false"
    testdox="true"
    cacheDirectory=".phpunit.cache"
>
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>tests/php/unit</directory>
        </testsuite>
        <testsuite name="Integration Tests">
            <directory>tests/php/integration</directory>
        </testsuite>
    </testsuites>
    
    <coverage>
        <report>
            <html outputDirectory="tests/coverage/html"/>
            <text outputFile="php://stdout" showUncoveredFiles="false"/>
        </report>
    </coverage>
    
    <source>
        <include>
            <directory suffix=".php">app/</directory>
            <file>surefeedback.php</file>
        </include>
        <exclude>
            <directory>vendor/</directory>
            <directory>tests/</directory>
            <directory>node_modules/</directory>
        </exclude>
    </source>
    
    <php>
        <const name="WP_TESTS_DOMAIN" value="example.org"/>
        <const name="WP_TESTS_EMAIL" value="admin@example.org"/>
        <const name="WP_TESTS_TITLE" value="Test Blog"/>
        <const name="WP_MEMORY_LIMIT" value="256M"/>
    </php>
</phpunit>